<nav> 
    <ul>
        <li>
            <img src="assets/logo-qatar.png" alt="logo of Qatar Museum with a circle, squares and a triangle">
            <p>Qatar Museums</p>
            </li>
        <li>
            <span lang="ar" class="">قـصـصـنـا</span>
            <a href="https://qm.org.qa/en/stories/">Stories</a>
        </li>

        <li>
            <span lang="ar" class="">الـفـعـالـيـات</span>
            <a href="https://qm.org.qa/en/calendar/">What's on</a>
        </li>

        <li>
            <span lang="ar" class="">زيــارة</span>
            <a href="https://qm.org.qa/en/visit/">Visit</a>
        </li>

        <li>
            <a href="https://qm.org.qa/tickets/select-tickets/">Tickets</a>
        </li>

        <li>
            <img src="assets/place.svg" alt="icon of a picking place"> 
            <a href="https://qm.org.qa/en/visit/">Venues</a>
        </li>

        <li>
            <a href="https://qm.org.qa/tickets/select-tickets/">العربية</a>
        </li>

        <li>
            <button>
                <svg width="51" height="30" viewBox="0 0 51 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <title>Icon of menu</title>
                    <rect width="51" height="9" fill="black"/>
                    <rect y="21" width="51" height="9" fill="black"/>
                </svg> Menu
             </button>
        </li>
    </ul>
</nav>

