 {% render 'partials/head.liquid', title: 'Qatar Museums' %}

{% render 'partials/header.liquid' %}

<main>
    <h1>Page not found</h1>
    <p class="error-paragraph">Looks like this page doesn’t exist or has been moved. Please check the web address or spelling and try again.</p>
</main> 