{% render 'partials/head.liquid', title: 'Qatar Museums', stylesheet: 'object.css' %}

{% render 'partials/header.liquid' %}

<h1>Divided_by</h1>
{{ 20 | divided_by: 4 }}
<br>
{{ 3 | divided_by: 3 }}

<h1>Downcase</h1>

<h1>Escape</h1>

<h1>Floor</h1>


<h1>Join</h1>