{% render 'partials/head.liquid', title: 'Qatar Museums: object detailpage' %}

{% render 'partials/header.liquid' %}


<main>

{{api.title}}
{% if artwork.image %}
    <h1>{{ artwork.title }}</h1>
    <img src="https://fdnd-agency.directus.app/assets/{{ artwork.image }}" alt="images of artwork in qatar " width="300px">        
{% else %}
    <p>No image availible</p>
{% endif %}
</main>





