@font-face {
    font-family: "Din Next it pro";
    src: url(./fonts/din-next-lt-pro-regular.ttf);
    font-style: normal;
}

@font-face {
    font-family: "Din Next it arabic";
    src: url(./fonts/din-next-lt-arabic-regular.ttf);
    font-style: normal;
}


body {
    /* font-sizes */
    --font-size-xxl: 3rem; /* 48px ÷ 16 = 3rem */
    --font-size-xl: 2.375rem; /* 38px ÷ 16 = 2.375rem */
    --font-size-l: 2rem; /* 32px ÷ 16 = 2rem */
    --font-size-m: 1.25rem; /* 20px ÷ 16 = 1.25rem */
    --font-size-s: 1.125rem; /* 18px ÷ 16 = 1.125rem, voor de header */
    --font-size-xs: 0.875rem; /* 14px ÷ 16 = 0.875rem */

    /* kleuren */
    --color-default: black;
    --color-accent: white;
    --color-accent-yellow: #F9FF1E;

    /* fonts */
    --font-default: "Din Next it pro", sans-serif;
    --font-arabic: "Din Next it arabic", sans-serif;
}


li {
    list-style: none;
}

a {
    text-decoration: none;
    cursor: pointer;
}

button {
    all: unset;
    cursor: pointer;
}