* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* MARK: Header */
.navigation {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 1rem;
    align-items: center;
}

.menu-logo {
    padding-left: 2em;
    justify-content: flex-start;
}

.nav-list {
    padding-right: 2em;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    column-gap: 2em;
    align-items: self-end;

}

.translated-menu {
    display: flex;
    flex-direction: column;
}

span {
    font-family: var(--font-arabic);
    font-weight: 700;
    cursor: pointer;
}

.link-menu {
    font-family: var(--font-default);
    font-size: var(--font-size-s);
    font-weight: 700;
    color: var(--color-default);
}

hr {
    color: var(--color-default);
    margin-top: 1em;
}
/* MARK: main */

main {
    padding: 0 2em 0 2em;
}

.art_images {
    column-count: 2; /* Aantal kolommen */
    gap: 1.5em; 
        @media (min-width: 480px) {
            column-count: 3;   
        }
        @media (min-width: 720px) {
            column-count: 4;   
        }
}

.art_images img {
    display: block; /* Verwijdert inline-afstanden */
    width: 100%; /* Zorg dat de afbeeldingen de kolom vullen */
    height: auto; 
    padding-top: 1.5em;
    border-radius: .4em;
}

form {
    position: fixed;
    bottom: 1em;
    right: 50%;
    cursor: pointer;
}

input[type="search"] {
    width: 200%;
    height: 3em;
}
